*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  // font-size: 62.5%;

  // I commented it because I used bootstrap in this gulp-boilerplate
}

body {
  box-sizing: border-box;
  background-color: $main_color;
}